<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"><i style="color: white" class="fa fa-times"></i></button>
	<h4 class="modal-title">
		<span class="fa fa-lock fa-1x"></span> Cambio Contraseña
	</h4>
</div>

<div class="modal-body">
	<form class="form-horizontal" role="form" id="myForm" name="myForm" angular-validator-submit="savePass(actualPassword, newPassword, confirmationPassword)" novalidate angular-validator>
		<div class="form-group">
			<label class="col-xs-4" for="actualPass">Contraseña Actual</label>
			<div class="col-xs-8">
				<input type="password" id="actualPass" class="form-control margin-bottom-espacio input-sm" ng-model="actualPassword" name="actualPass" required>
			</div>
		</div>
		<br>
		<div class="form-group">
			<label class="col-xs-4" for="newPass">Nueva Contraseña</label>
			<div class="col-xs-8">
				<input type="password" id="newPass" class="form-control margin-bottom-espacio input-sm" ng-model="newPassword" name="newPass" required>
				<!-- {{newPassword}} -->
			</div>
		</div>
		<br>
		<div class="form-group">
			<label class="col-xs-4" for="confirmPass">Contraseña Actual</label>
			<div class="col-xs-8">
				<input type="password" id="confirmPass" class="form-control margin-bottom-espacio input-sm" ng-model="confirmationPassword" name="confirmPass" required>
				<!-- {{confirmationPassword}} -->
			</div>
		</div>
	</form>
</div>

<br>

<div class="modal-footer">
	<button class="btn btn-success" form="myForm" type="submit">Guardar</button>
	<button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
</div>